body {
  background-color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-family: 'Notable', sans-serif;
  color: darkcyan;
  text-align: center;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  float: left;
}

a {
  font-size: 150%;
  text-decoration: none;
}

a:link {
  color: darkblue;
}

a:hover {
  color: darksalmon;
}

a:visited {
  color: darkcyan;
}